<!DOCTYPE html>
<html>
<head>
  <title>Dragdrop</title>
  <%= stylesheet_link_tag    "application", :debug=>(Rails.env.development? or Rails.env.test?) %>
  <%= javascript_include_tag "application" , :debug=>(Rails.env.development? or Rails.env.test?) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
